/**
 * Normal Styles here!
 **/

body {
	padding: 0;
	margin: 0;
	font-family: Verdana;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container, html, body {
	height: 100%;
}

.left, .right {
	width: 50%;
	height: 100%;
	overflow: auto;
	float: left;
	text-align: center;
}

.left p {
	width: 60%;
	margin: 0 auto;
	font-size: 11pt;
	margin-bottom: 15px;
	line-height: 20px;
	text-align: justify;
	line-height: 25px;
}

.left a {
	color: #333;

}

.left sup {
	color: #333;
	border: 1px solid;
	border-radius: 100px;
	padding: 1px 4px;
	top: -2px;
	position: relative;
}

.left p a {
	background: #99FFCC;
	color: #333;
	text-decoration: none;
	padding: 2px 5px;
	border-radius: 2px;
}

a.source {
	background: none!important;
	padding: 0!important;
	color: #333!important;
	text-decoration: underline!important;
}

.smallest p, .smallest li {
	font-size: 9pt!important;
}

.smaller p, .smaller li {
	font-size: 10pt!important;
}

.small p, .small {
	font-size: 11pt!important;
}

.big p, .big li {
	font-size: 12pt!important;
}

.bigger p, .bigger li {
	font-size: 13pt!important;
}

.right p {
	text-align: left;
	width: 80%;
	margin: 0 auto;
	font-size: 10pt;
}

.right p.afbeelding {
	font-style: italic;
	margin-top: 10px;
}

.right img {
	width: 80%;
	margin-top: 60px;
}

.left ol, .left ul, .right ol, .right ul {
	width: 50%;
	margin: 0 auto;
	font-size: 11pt;
	margin-bottom: 15px;
	text-align: left;
}

.left li {
	padding-left: 20px;
	margin-bottom: 15px;
}

h1 {
	font-size: 65px;
	width: 70%;
	display: inline-block;
}

h1.titel {
	font-size: 165px;
	margin-top: -20px;
	font-weight: normal;
	max-width: 70%;
	color: #000;
}

h3.subtitel {
	display: none;
}

#afbeelding1 {
	margin-top: 30px;
}

h2 {
	font-size: 10pt;
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 45px;
	margin-bottom:25px;
}

.copyright {
	position: absolute;
	left: -180px;
	bottom: 195px;
	-ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari */
    transform: rotate(270deg);
}

.copyright p {
	margin-bottom: 1px;
	margin-top: 0px;
	font-size: 10pt;
	font-weight: normal;
}

.copyright a {
	color: #333;
}

.menu-toggle {
	font-size: 28px!important;
	position: fixed;
	color: #333;
	left: 20px;
	background: #fff;
	top: 20px;
	cursor: pointer;
	padding: 3px 7px;
	transition: all 0.3s;
	border-radius: 2px;
}

.menu-toggle:hover {
	background: #333;
	color: #f5f5f5;
}

.print {
	font-size: 28px!important;
	position: fixed;
	color: #333;
	background: #fff;
	left: 20px;
	top: 70px;
	cursor: pointer;
	padding: 3px 7px;
	transition: all 0.3s;
	border-radius: 2px;
}

.print:hover {
	background: #333;
	color: #f5f5f5;
}

.menu {
	display: none;
	width: 190px;
	overflow: hidden;
	background: #fff;
	position: fixed;
	top: 120px;
	left: 0px;
	padding: 10px;
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
}

.menu ul {
	padding-left: 0px;
}

.menu ul li {
	width: 250px;
	overflow: hidden;
	display: inline-block;
	margin-bottom: 20px;
	padding-right: 10px;
	padding-left: 10px;
}

.menu li a {
	font-family: helvetica;
	color: #333;
	font-size: 10pt;
	text-decoration: none;
	font-weight: bold;
}

.cd-top {
	display: none;
	position: fixed;
	height: 60px;
	width: 60px;
	bottom: 10px;
	border-radius: 3px;
	right: 10px;
	z-index: 10;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: rgba(0, 0, 0, 0.8) url(images/cd-top-arrow.svg) no-repeat center 50%;
	-webkit-transition: all .3s 0s, visibility 0s .3s;
	-moz-transition: all .3s 0s, visibility 0s .3s;
	transition: all .3s 0s, visibility 0s .3s;
}

.cd-top:hover {
	background: rgba(0, 0, 0, 1) url(images/cd-top-arrow.svg) no-repeat center 50%;
}

/**
 * Responsive Styles here!
 **/

@media only screen and (max-width: 1024px) {
	.left, .right {
		width: 100%!important;
		height: auto!important;
	}

	.cd-top {
		display: inline-block;

	}

	.left h1.titel {
		font-size: 155px;
	}

	.print {
		display: none;
	}

}

@media only screen and (max-width: 1280px) {
	.left h1 {
		font-size: 45px;
	}

	.left h1.titel {
		font-size: 135px
	}
}

/**
 * Print Styles here!
 **/

@media print {


	body {
		margin: 1cm;
	}

	.menu, .menu-toggle, .copyright, .print {
		display: none!important;
	}

	div.page {
    	page-break-before: always;
	}

	h1 {
		font-size: 30pt;
		width: auto!important;
	}

	h1.titel {
		font-size: 100pt;
	}

	h3.subtitel {
		display: block;
	}

	h3.subtitel span{
		font-weight: normal;
	}

	.container, html, body {
		height: auto;
		color: #000;
	}

	.left, .right {
		width: auto;
		height: auto;
		position: relative;
	}

	.left p, .right p {
		width: auto;
		color: #000;
	}

	.left ol, .left ul, .right ol, .right ul {
		width: auto;
	}

	.right {
		text-align: left;
	}

	.right img {
		margin-left: 0px;
	}

	.left p a {
		background: none!important;
		padding: 0;
		border-radius: 0;
		color: #000;
		text-decoration: none;
		text-shadow: none!important;
	}

	.left p a:hover {
		background: none!important;
	}

	.left sup {
		color: #333;
		border: none;
		border-radius: 0;
		padding: 0;
		top: 0px;
		position: relative;
	}

}
