body {
background-image: url('centimetertransparentThesis.png');
	background-repeat: repeat-y;
	background-position: relative;
	top: 00px;
	left: 20px;
	width: 100%;
	height: 6500px;
	overflow-x: none;
  background: -webkit-linear-gradient(#FFFF66, white, white, white, #FFFF66); 
  background: -o-linear-gradient(right, #FFFF66, white, white, white, #FFFF66); 
  background: -moz-linear-gradient(right,#FFFF66, white, white, white, #FFFF66); 
  background: linear-gradient(to right, #FFFF66, white, white, white , #FFFF66); 
	font-size: 9pt;
	font-family: Helvetica;
	letter-spacing: 0.4px;
}


	

html, body {
	height: 100%;
	
}



hkop {
	font-family: Helvetica;
	padding-left: -20px;
	font-size: 165px;
	font-style: normal;
	line-height: 0.85em;
	transform: rotate(-25deg);
	/*color: #4DB8B8;*/
	cursor: url(http://icons.iconarchive.com/icons/iconsmind/outline/128/Men-icon.png), auto;

}



ondertitel{
	font-family: Helvetica, sans-serif;
	display: block;
	text-align: right;
	margin-top: 150px;
	font-size: 40px;
	margin-bottom: -100px;
	line-height: 38px;
	text-transform: uppercase;;
	letter-spacing: 0.04em;
	transform: rotate(-20deg);
	position: relative;
	left: 300px;
	top: -640px;;
	
}


h1 {
	font-family: Helvetica;
	padding-left: -20px;
	font-size: 30px;
	font-style: normal;
	line-height: 1.0em;
	transform: rotate(-25deg);
	
	/*color: #4DB8B8;*/
	cursor: url(http://icons.iconarchive.com/icons/iconsmind/outline/128/Men-icon.png), auto;

}

h2 {
	font-size: 10pt;
	font-family: Helvetica;
	font-style: light;
	letter-spacing: 0.5px;
	position: relative;
	top: -420px;;
	
}

h3 {
	position: relative;
	font-size: 12.5px;
	font-weight: bold;
	color: #4DB8B8;
	left: 100px;
	cursor: url(http://icons.iconarchive.com/icons/iconsmind/outline/128/Men-icon.png), auto;
	
}

h4 {
	position: relative;
	font-size: 9px;
	font-weight: normal;
	font-style: italic;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	cursor: url(http://icons.iconarchive.com/icons/iconsmind/outline/128/Men-icon.png), auto;
}


h5 {
	font-size: 10px;
	font-family: helvetica;
	display: inline;
	cursor: url(http://icons.iconarchive.com/icons/iconsmind/outline/128/Men-icon.png), auto;
	}










/* hier komen alle styles voor afbeelding omschrijving*/

	
	
	
	
	
	
	
	
/* tot hier alle styles voor afbeelding omschrijving*/






sup {
	font-size: 8px;
	cursor: url(http://icons.iconarchive.com/icons/iconsmind/outline/128/Men-icon.png), auto;
}

b {
	/*color: #4DB8B8;*/
}

i {
	color: black;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #C0C0C0;
}










imgtest {
        position: absolute;
        left: 500px;
        top: 1000px;
        width: 100%;
       	height: 100%;
    }
    
    
    

.container {
	font-size: 1.4em;
	position: relative;
	margin: 0 auto;
	width: 500px;
	line-height: 1.3;
	cursor: url(http://icons.iconarchive.com/icons/iconsmind/outline/128/Men-icon.png), auto;
}

.container img {
   /*  width: 100%; */
    height: auto;
    max-width: 100%;
 
    cursor: url(http://icons.iconarchive.com/icons/iconsmind/outline/128/Men-icon.png), auto;
}

.nav {
	position: fixed;
	left: 2px;
	height: 420px;
	width: 270px;
	top: 30px;
	background: white;
	overflow-y: hidden;
	line-height: 1.3;
	text-align: left;
	font-size: 10pt;
	display: none;
	padding: 10px;
}

.navclick {
    
    font-style: bold;
	position: fixed;
	left: 10px;
	top: 10px;
	text-align: left;
	font-size: 14pt;
}

.navcover {
	position: absolute;
	right: 30px;
	height: 100%;
	width: 15%;
	background: white;
	display: none;
}

.header {
	margin-top: -55px;
	height: 500px;
	text-align: center;

}

.header2 {
	position: relative;
	top: -540px;
	height: 500px;
	text-align: center;
	-ms-transform: skew(0deg,3deg); /* IE 9 */
    -webkit-transform: skew(0deg,3deg); /* Chrome, Safari, Opera */
    transform: skew(0deg,3deg);
    color: #4DB8B8;
    font-size: 70pt;
	font-weight: bold;
	opacity: 0.2;
	display: none;
	cursor: url(http://icons.iconarchive.com/icons/iconsmind/outline/128/Men-icon.png), auto;
}

.header h1 {
	font-size: 100pt;
	font-weight: bold;
	cursor: url(http://icons.iconarchive.com/icons/iconsmind/outline/128/Men-icon.png), auto;

}

.mainsources {
	position: absolute;
	left: -01px;
	top: -5px;
	bottom: 0px;
	height: 3000px;
	width: 8%;
	font-size: 8px;
/*    outline: #4DB8B8 dashed 1.5px; */
    padding: 40px;
}

.voorwoord {
	
	margin-top: 400px;
	left: 10px;
	height: 1100px;
	width: 500px;
	background-color: white;
	padding: 40px;
	border: 40px;
	padding left: 80%;
	cursor: url(http://icons.iconarchive.com/icons/iconsmind/outline/128/Men-icon.png), auto;

}

.introductie  {
	
	margin-top: 50px;
	left: 10px;
	height: 900px;
	width: 500px;
	background-color: white;
	padding: 40px;
	border: 40px;
	padding left: 80%;
	cursor: url(http://icons.iconarchive.com/icons/iconsmind/outline/128/Men-icon.png), auto;

}

.inleiding1  {
	
	margin-top: 50px;
	left: 10px;
	height: 6850px;
	width: 500px;
	background-color: white;
	padding: 40px;
	border: 40px;
	padding left: 80%;
	cursor: url(http://icons.iconarchive.com/icons/iconsmind/outline/128/Men-icon.png), auto;

}

.inleiding2  {
	
	margin-top: 50px;
	left: 10px;
	height: 6550px;
	width: 500px;
	background-color: white;
	padding: 40px;
	border: 40px;
	padding left: 80%;
	cursor: url(http://icons.iconarchive.com/icons/iconsmind/outline/128/Men-icon.png), auto;

}

.inleiding3  {
	
	margin-top: 50px;
	left: 10px;
	height: 4400px;
	width: 500px;
	background-color: white;
	padding: 40px;
	border: 40px;
	padding left: 80%;
	cursor: url(http://icons.iconarchive.com/icons/iconsmind/outline/128/Men-icon.png), auto;

}

.abstract  {
	
	margin-top: 50px;
	left: 10px;
	height: 1600px;
	width: 500px;
	background-color: white;
	padding: 40px;
	border: 40px;
	padding left: 80%;
	cursor: url(http://icons.iconarchive.com/icons/iconsmind/outline/128/Men-icon.png), auto;

}

.conclusie  {
	
	margin-top: 50px;
	left: 10px;
	height: 2680px;
	width: 500px;
	background-color: white;
	padding: 40px;
	border: 40px;
	padding left: 80%;
	cursor: url(http://icons.iconarchive.com/icons/iconsmind/outline/128/Men-icon.png), auto;

}

.bibliografie  {
	
	margin-top: 50px;
	left: 10px;
	height: 1640px;
	width: 500px;
	background-color: white;
	padding: 40px;
	border: 40px;
	cursor: url(http://icons.iconarchive.com/icons/iconsmind/outline/128/Men-icon.png), auto;

}

.voetnoot  {
	
	margin-top: 50px;
	left: 10px;
	height: 1640px;
	width: 460px;
	background-color: white;
	padding: 10px;
	border: 40px;
	cursor: url(http://icons.iconarchive.com/icons/iconsmind/outline/128/Men-icon.png), auto;

}








.afbeeldingscroll {
	background-image: url("centimetertransparentThesis.png");
	position: absolute;
	left: -400px;
	width: 300px;
	background-repeat: repeat-y;
	height: 100%;
}


.afbeelding1scroll {
	position: absolute;
	left: -350px;
	width: 350px;
	height: auto;
	text-align: right;
	font-family: Helvetica;
	font-size: 8pt;		
}



.afbeelding2scroll {
	position: absolute;
	left: -350px;
	width: 350px;
	height: auto;
	text-align: right;
	font-family: Helvetica;
	font-size: 8pt;	
}




.afbeelding3scroll {
	position: absolute;
	left: 550px;
	width: 300px;
	height: auto;
	font-family: Helvetica;
	font-size: 8pt;
}






.afbeelding4scroll {
	position: absolute;
	left: -370px;
	width: 380px;
	height: auto;
	text-align: right;
	font-family: Helvetica;
	font-size: 8pt;		
}

.afbeelding5scroll {
	position: absolute;
	left: 600px;
	width: 250px;
	height: auto;
	text-align: left;	
	font-family: Helvetica;
	font-size: 8pt;
}

.afbeelding6scroll {
	position: absolute;
	left: -350px;
	width: 350px;
	text-align: right;
	font-family: Helvetica;
	font-size: 8pt;		
}

.afbeelding7scroll {
	position: absolute;
	left: -350px;
	width: 350px;
	height: auto;
	text-align: right;
	font-family: Helvetica;
	font-size: 8pt;		
}

.afbeelding8scroll {
	position: absolute;
	left: 600px;
	width: 250px;
	height: auto;
	text-align: left;	
	font-family: Helvetica;
	font-size: 8pt;	
}

.afbeelding9scroll {
	position: absolute;
	left: 580px;
	width: 280px;
	height: auto;	
	text-align: left;	
	font-family: Helvetica;
	font-size: 8pt;
}

.afbeelding10scroll {
	position: absolute;
	left: -350px;
	width: 340px;
	height: auto;
	text-align: right;
	font-family: Helvetica;
	font-size: 8pt;		
}

.afbeelding11scroll {
	position: absolute;
	left: -350px;
	width: 350px;
	height: auto;	
	text-align: right;
	font-family: Helvetica;
	font-size: 8pt;	
}

.afbeelding12scroll {
	position: absolute;
	left: -360px;
	width: 350px;
	height: auto;
	text-align: right;
	font-family: Helvetica;
	font-size: 8pt;		
}

.afbeelding13scroll {
	position: absolute;
	left: -360px;
	width: 350px;
	height: auto;
	text-align: right;
	font-family: Helvetica;
	font-size: 8pt;		
}

.afbeelding14scroll {
	position: absolute;
	left: -240px;
	width: 200px;
	height: auto;
	text-align: right;
	font-family: Helvetica;
	font-size: 8pt;		
}

.afbeelding15scroll {
	position: absolute;
	left: 600px;
	width: 250px;
	height: auto;
	text-align: left;	
	font-family: Helvetica;
	font-size: 8pt;	
}

.afbeelding16scroll {
	position: absolute;
	left: -240px;
	width: 180px;
	height: auto;
	text-align: right;
	font-family: Helvetica;
	font-size: 8pt;		
}

.afbeelding17scroll {
	position: absolute;
	left: -240px;
	width: 200px;
	height: auto;
	text-align: right;
	font-family: Helvetica;
	font-size: 8pt;		
}

.afbeelding18scroll {
	position: absolute;
	left: 560px;
	width: 300px;
	height: auto;	
	text-align: left;	
	font-family: Helvetica;
	font-size: 8pt;
}

.afbeelding18bscroll {
	position: absolute;
	left: 570px;
	width: 280px;
	height: auto;
	text-align: left;	
	font-family: Helvetica;
	font-size: 8pt;	
}

.afbeelding19ascroll {
	position: absolute;
	left: -340px;
	width: 300px;
	height: auto;
	text-align: right;	
	font-family: Helvetica;
	font-size: 8pt;		
}

.afbeelding19bscroll {
	position: absolute;
	left: -340px;
	width: 300px;
	height: auto;
	text-align: right;	
	font-family: Helvetica;
	font-size: 8pt;	
}

.afbeelding20scroll {
	position: absolute;
	left: 550px;
	width: 200px;
	height: auto;
	text-align: left;	
	font-family: Helvetica;
	font-size: 8pt;	
}

.afbeelding20bscroll {
	position: absolute;
	left: 550px;
	width: 200px;
	height: auto;
	text-align: left;	
	font-family: Helvetica;
	font-size: 8pt;	
}

.afbeelding21scroll {
	position: absolute;
	left: -340px;
	width: 300px;
	height: auto;
	text-align: right;	
	font-family: Helvetica;
	font-size: 8pt;		
}

.afbeelding22scroll {
	position: absolute;
	left: 620px;
	width: 200px;
	height: auto;	
	text-align: left;	
	font-family: Helvetica;
	font-size: 8pt;	
}

.afbeelding23scroll {
	position: absolute;
	left: -340px;
	width: 300px;
	height: auto;
	text-align: right;	
	font-family: Helvetica;
	font-size: 8pt;		
}

.afbeelding24scroll {
	position: absolute;
	left: -340px;
	width: 300px;
	height: auto;
	text-align: right;	
	font-family: Helvetica;
	font-size: 8pt;		
}

.afbeelding25scroll {
	position: absolute;
	left: -350px;
	width: 350px;
	height: auto;
	text-align: right;	
	font-family: Helvetica;
	font-size: 8pt;		
}

.afbeelding26scroll {
	position: absolute;
	left: -350px;
	width: 350px;
	height: auto;
	text-align: right;	
	font-family: Helvetica;
	font-size: 8pt;		
}

.afbeelding27scroll {
	position: absolute;
	left: 560px;
	width: 290px;
	height: auto;
	text-align: left;	
	font-family: Helvetica;
	font-size: 8pt;		
}

.afbeelding28scroll {
	position: absolute;
	left: 560px;
	width: 290px;
	height: auto;
	text-align: left;	
	font-family: Helvetica;
	font-size: 8pt;		
}


.afbeelding29scroll {
	position: absolute;
	left: 600px;
	width: 200px;
	height: auto;	
	text-align: left;	
	font-family: Helvetica;
	font-size: 8pt;	
}

.afbeeldingoverzicht1scroll {
	position: absolute;
	left: -300px;
	width: 300px;
	height: auto;
	text-align: right;	
	font-family: Helvetica;
	font-size: 8pt;		
}

.afbeeldingoverzicht2scroll {
	position: absolute;
	left: 550px;
	width: 300px;
	height: auto;
	text-align: left;	
	font-family: Helvetica;
	font-size: 8pt;		
}

.afbeeldingoverzicht3scroll {
	position: absolute;
	left: -300px;
	width: 300px;
	height: auto;
	text-align: right;	
	font-family: Helvetica;
	font-size: 8pt;		
}


.img {
	position: relative;
    left: 100;
    top: 100;
   





